body {
  background-image: url("../home.jpg");
  color: white;
}

.home {
  margin-top: 250px;
  text-align: center;
}
.home h1 {
  font-size: 100px;
}
.home p {
  font-size: 30px;
}

.logo {
  font-size: 40px;
  color: white;
}

a {
  color: white;
}
